In [2]:
import sqlite3

In [8]:
connection= sqlite3.connect("classroom.db")

In [9]:
connection.close()

In [10]:
#create Table
connection= sqlite3.connect("classroomDB.db")
cursor= connection.cursor()
create_table="""create table classroom(
                id integer primary key,
                name varchar(20),
                gender char(1),
                marks integer);"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [22]:
classroom_data=[(1,"Raj",'M',98),(2,"Aman",'M',99)]

for student in classroom_data:
    print("{0},{1},{2},{3}".format(student[0],student[1],student[2],student[3]))

1,Raj,M,98
2,Aman,M,99

In [23]:
classroom_data=[(1,"Raj",'M',98),(2,"Aman",'M',99)]
connection=sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
for student in classroom_data:
    insert_stat= '''insert into classroom 
                    values({0},"{1}",'{2}',{3});'''.format(student[0],student[1],student[2],student[3])
    cursor.execute(insert_stat)
connection.commit()
connection.close()

In [25]:
connection= sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
query="Select * from classroom;"
cursor.execute(query)
result=cursor.fetchall()
for data in result:
    print(data)
connection.commit()
connection.close()

(0, '(1)', '(2)', 3)
(1, 'Raj', 'M', 98)
(2, 'Aman', 'M', 99)

In [1]:
!conda install -y -q pymysql

Package plan for installation in environment C:\Users\Aku\Anaconda3:

The following NEW packages will be INSTALLED:

    pymysql:  0.8.0-py36_0

The following packages will be UPDATED:

    anaconda: 5.0.1-py36h8316230_2  --> custom-py36h363777c_0
    conda:    4.3.30-py36h7e176b0_0 --> 4.5.0-py36_0
    pycosat:  0.6.2-py36hf17546d_1  --> 0.6.3-py36h413d8a4_0

In [2]:
import pymysql